html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:'Lexend Deca', sans-serif;
  background: #fff3e0;
}

.sideNavPP {
  height: 100px!important;
}

.sideNav {
  padding-left: 25px!important;
}

.navIcony{
  margin-right: 0.8rem;
}

.searchBar {
  background-color: white!important;
  border-radius: 24px!important;
  padding: 0px 15px;
  height: 56px !important;
  line-height: 56px !important;
}
input#search:focus{
  border-bottom: none;
  outline: none;
  box-shadow: none;
}

.sideNavIcons {
  margin-top: 10px!important;
  height: 40px!important;
  width: 40px!important;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  border-radius: 8px!important;
}

.navIcony{
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.sideNavCard {
  border-radius: 24px!important;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  width: 250px!important;
}

.cardWrapper {
  padding-left: 0!important;
}

.mainCards {
  border-radius: 24px!important;
  height: 187px!important;
}

.section2 {
  height: 100vh!important;
  border-radius: 24px!important;
}

.articleBack {
  height: 100vh!important;
  background: white!important;
  border-radius: 24px!important;
  margin-right: 110px;
  margin-left: 110px;
}

.articleHead {
  margin-right: 110px;
  margin-left: 110px;
}

.input-field:a

/* body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track{
  background: black;
}

body::-webkit-scrollbar-thumb{
  background: white;
} */

/*================Section 1=================*/

.articleCard {
  height: 500px;
}

.container {
  width: 95%!important;
}

.articleContent {
  padding: 20px 30px !important;
}

.articleImage {
  padding: 20px !important;
}

.right {
 padding-left: 1000px!important;
}

.pp {
  height: 45px!important;
}

.articleNav {
  margin-top: 211px!important;
}

.leftBtn {
  padding: 20px!important;
}

/*================Section 2=================*/

.square {
  height: 70px;
  width: 70px;
  background-color: rgb(0, 119, 255);
  margin: 30px!important;
}

.infoCards {
  width: 100%!important;
}

.grid-item:hover {
  transform: scale(1.05);
  transition: transform .3s;
  box-shadow: 2px 2px 2px 2px #e0e0e0 ;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 50px 50px;
}
.grid-item {
  /* background-color: #eeeeee; */
  padding: 20px;
}

@media only screen and (max-width: 992px){
  .grid-container {
    grid-template-columns: 1fr ;
  }
  .articleContent {
    padding-top: 0px!important;
    padding-left: 0px!important;
    width: 90% !important;

  }
}
@media only screen and (max-width: 600px){
  
}

/*================Section 3=================*/

.splash {
  /* position: relative!important; */
  background-image: url(images/splash.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subs {
  /* position: absolute!important;
  width: 489px!important;
  top: 105px!important; */
}

.nLetterInput {
  /* top: 160px;
  width: 316px;
  left: 87px; */
}


.now-image{
  width: 150px !important;
  height: 150px !important;
}

@media only screen and (min-width: 600px){
  .card.horizontal{
    width: 80%;
    margin: .5rem auto 1rem auto;
  }
}

@media only screen and (max-width: 480px){
  .card-image{
    display: none;
  }
}

@media only screen and (max-width: 900px){
  #searchWrapper{
    margin-top: 30px;
  }
  .container .card{
    width: 93% !important;
  }
}

#actual-body img{
  width: 100%;
  margin: 20px auto;
  border-radius: 12px;
}

/* BRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */

.customBtn {
  width: auto;
  margin: auto;
}

@-webkit-keyframes topAnimation {
  from {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 3.5rem);
            transform: translate(0rem, 3.5rem);
  }
}

@keyframes topAnimation {
  from {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 3.5rem);
            transform: translate(0rem, 3.5rem);
  }
}
@-webkit-keyframes bottomAnimation {
  from {
    -webkit-transform: translate(-11.5rem, 0);
            transform: translate(-11.5rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
}
@keyframes bottomAnimation {
  from {
    -webkit-transform: translate(-11.5rem, 0);
            transform: translate(-11.5rem, 0);
  }
  to {
    -webkit-transform: translate(0rem, 0);
            transform: translate(0rem, 0);
  }
}
button.btnie {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border: 0;
  position: relative;
  letter-spacing: 0.15em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #111111;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
}
button.btnie::after, button.btnie::before {
  border: 0;
  content: "";
  position: absolute;
  height: 40%;
  width: 10%;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
  border-radius: 50%;
}
button.btnie::before {
  border: 0;
  background-color: #c92918;
  top: -0.75rem;
  left: 0.5rem;
  -webkit-animation: topAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
          animation: topAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
}
button.btnie::after {
  background-color: #e74c3c;
  top: 3rem;
  left: 13rem;
  -webkit-animation: bottomAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
          animation: bottomAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
}
button.btnie:hover {
  color: white;
}
button.btnie:hover::before, button.btnie:hover::after {
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  -webkit-animation: none;
          animation: none;
}
button.btnie:hover::after {
  left: 0rem;
}
button.btnie:hover::before {
  top: 0.5rem;
  left: 0.35rem;
}

/* BRRRRRRRRRRRRRRRRRRRRR */

.button {
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
          align-items: center;
  padding-right: 40px;
  width: max-content;
  margin: 0 auto;
}
.button:hover .button__border-circle {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}
.button:hover .button__mask-circle {
  -webkit-clip-path: circle(25px at 85px);
          clip-path: circle(25px at 85px);
}

.button__text {
  z-index: 1;
  font-size: 14px;
  margin-right: -18px;
  color: #FAFAFA;
  letter-spacing: 0.05em;
}

.button__wrapper {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.button__arrow {
  left: 35px;
  height: 3px;
  width: 50px;
  display: -webkit-box;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
          align-items: center;
  background-color: #B3D23F;
}
.button__arrow:after {
  content: '';
  width: 0;
  height: 0;
  top: -5px;
  right: -7px;
  position: absolute;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #B3D23F;
}

.button__border-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #BFBFBF;
  -webkit-transition: -webkit-transform 987ms;
  transition: -webkit-transform 987ms;
  transition: transform 987ms;
  transition: transform 987ms, -webkit-transform 987ms;
}

.button__mask-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-clip-path: circle(25px);
          clip-path: circle(25px);
  -webkit-transition: -webkit-clip-path 987ms;
  transition: -webkit-clip-path 987ms;
  transition: clip-path 987ms;
  transition: clip-path 987ms, -webkit-clip-path 987ms;
}

.button__small-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  background-color: #B3D23F;
}


